form {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #bce1ed;
  border-radius: 8px;
}
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type='email']:hover,
input[type='password']:hover {
  border-color: rgb(173, 209, 28);
}

button[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button[type='submit']:hover {
  opacity: 0.8;
}

a {
  color: rgb(225, 30, 255);
}

a:hover {
  color: #555;
  text-decoration: underline;
}

label {
  margin-bottom: 10px;
  display: block;
}
